* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* START OF ARSALAN'S PART */

 body {
  /* background: #224941 url('./assets/img/fire.png') no-repeat center center/cover; */
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: left;
  margin: 2px;
  padding: 2px;
}

#text {
align-items: center;
font-weight: bold;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);
  left: -500px;
}

.circle {
  background-color: #396c9c83;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.gradient-circle {
  background: conic-gradient(
    rgb(46, 101, 32) 0%,
    rgb(83, 123, 59) 33%,
    #c7a900 66%,
    rgb(83, 123, 59) 100%
  );
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.pointer {
  background-color: rgb(198, 253, 253);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: block;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 4s linear forwards infinite;
  transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 4s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.container.shrink {
  animation: shrink 4s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

/* END OF ARSALAN'S PART */
  /* made this so i could visually center the shapes */

  #backgroundplaceholder{
	  /* background-color: black;  */
    background-color: white; 
		margin-left: 30%;
    width:100%;
    height:100%;
}
 .playpause label {
  border-style: solid;
  border-width: 20px 0 20px 40px;
  height: 40px;
  display: block;
  box-sizing: border-box;
  width: 0;
  border-color: transparent transparent transparent white;
  transition: 100ms all ease;
  cursor: pointer;

}
.playpause input[type="checkbox"] {
  visibility: hidden;
}
.playpause input[type="checkbox"]:checked + label {
  border-style: double;
  border-width: 0 0 0 40px;
  height: 40px;
}

.playpause {
  position: fixed;
  top: 0;
  right: 1em;
}

/* #breath {

} */

.zen {
  height: 50px;
}
  .logo {
    display: flex;
    padding: 10px;
  }

  .input {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  
  .input label {
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
  }
/* end of pirooz part */

/* START OF YILING PART */
/* VIDEO */
.video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* opacity: 0.5; */
  z-index: -1;
}

.video video {
  min-width: 100%;
  min-height: 100%;
  /* opacity: 0.99; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





/* FOR SMALL SCREENS */
@media screen and (max-width: 600px) {
  /* VIDEO */
  .video video {
    height: 100%;
  }
}